.app {
  background-color: lightcoral;
  padding: 3vw;
}

.main-pokemon {
  background-color: seashell;
  border-radius: 20px;
  padding: 3vw;
  flex-grow: 4;
  flex-shrink: 1;
  margin: 20px;
}
.main-pokemon img{
  width: 100%;
  background-color: lightgreen;
  border-radius: 20px;
}
.main-pokemon button{
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: lightcoral;
  font-weight: bold;
  color: seashell;
}
.pokedex{
  display:flex;
  max-width: 900px;
  margin: auto;
}
.preview{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 4;
  max-width: 400px;
}
.pokemon{
  background-color: seashell;
  padding: 3vw;
  margin: 20px;
  border-radius: 20px;
}
.pokemon img{
  width: 100%;
}
.pokemon.selected{
  background-color: lightgoldenrodyellow;
}
.pokemon p{
  position: absolute;
}
