.App {
  text-align: center;
  background-color: lightcoral;
  box-sizing: border-box;
}
.preview{
  display: flex;
  flex-direction: column;
}
.pokedex{
  display: flex;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
.main-pokemon{
  background-color: seashell;
  flex-grow: 1;
  border-radius: 20px;
  padding-top: 3vw;
}
.main-pokemon img{
  width: 90%;
  background-color: lightgreen;
  border-radius: 20px;
}
.pokemon{
  background-color: seashell;
  border-radius: 20px;
  max-width: 200px;
  padding: 20px;
  margin: 10px;
}
.pokemon.selected{
  background-color: lemonchiffon;
}
.pokemon p{
  position: absolute; 
  font-weight: bold;
}
